*.iws
out
.idea
*.iml
*.ipr
*.ids
.classpath
.gitignore.swp
.project
.settings/
gradle.properties
*.log
*.log.*
src/main/resources/win
build/
bin/
.metadata
ibatisOutput/
/WebContent/
file/
*.idea
*.iml
*.project
.settings/
*.classpath
target/
build/
.idea/